# one filename per line, regular files (or symlinks to them) only. 
# If you do supply your own MANIFEST, you must specify everything: 
# the default set of files described above does not apply in this case.
planeFight.py
setup.py
sound/button.ogg
sound/bullet.wav
sound/enemy0_down.wav
sound/use_bomb.ogg
sources/background.png
sources/loading.png
sources/name.png
sources/game_loading1.png
sources/game_loading2.png
sources/game_loading3.png
sources/hero1.png
sources/hero2.png
sources/bullet2.png
sources/enemy1.png
sources/enemy1_down1.png
sources/enemy1_down2.png
sources/enemy1_down3.png
sources/enemy1_down4.png
sources/enemy2.png
sources/enemy2_down1.png
sources/enemy2_down2.png
sources/enemy2_down3.png
sources/enemy2_down4.png
sources/enemy0.png
sources/enemy0_down1.png
sources/enemy0_down2.png
sources/enemy0_down3.png
sources/enemy0_down4.png
sources/hero_blowup_n1.png
sources/hero_blowup_n2.png
sources/hero_blowup_n3.png















